{% extends 'base.html' %}
{% block main %}

<body>
    <header class="w-full">

        <nav class="bg-white border-gray-200 py-2.5">

            <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">

                <div class="flex gap-3">
                    <a href="/school" class="flex items-center">
                        <img src="{{ url_for('static', filename='assets/logo.svg') }}" class="h-6 mr-3 sm:h-9"
                            alt="Poshan Logo" />
                        <span class="self-center text-xl font-semibold whitespace-nowrap">Poshan</span>
                    </a>

                    <img src="{{ url_for('static', filename='assets/g20.png') }}" class="h-6 sm:h-9" alt="G20 Logo" />

                    <img src="{{ url_for('static', filename='assets/poshan.png')}}" class="h-6 sm:h-9" alt="Gov Logo" />
                </div>

                <a href="/logout"
                    class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none">
                    Logout
                </a>
            </div>

        </nav>

    </header>

    <div class="w-full text-center my-auto">
        <h1 class="my-9 text-2xl font-extrabold tracking-tight md:text-3xl xl:text-5xl">
            Choose Your Class
        </h1>

        <ul class="grid grid-cols-2 gap-5 w-fit mx-auto">
            <a href="health/1">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 1
                </li>
            </a>

            <a href="health/2">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 2
                </li>
            </a>

            <a href="health/3">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 3
                </li>
            </a>

            <a href="health/4">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 4
                </li>
            </a>

            <a href="health/5">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 5
                </li>
            </a>

            <a href="health/6">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 6
                </li>
            </a>

            <a href="health/7">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 7
                </li>
            </a>

            <a href="health/8">
                <li
                    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 focus:outline-none w-fit mx-auto hover:cursor-pointer">
                    Class 8
                </li>
            </a>

        </ul>
    </div>

    <footer class="bg-white remove:bg-gray-800 pb-10">
        <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-5 md:p-8 lg:p-10">

            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8">
            <div class="text-center">

                <img src="{{ url_for('static', filename='assets/logo_row.png') }}" alt="All Logos" />

                <span class="block text-sm text-center text-gray-500">© 2023-2024 Poshan. All
                    Rights Reserved. Built with Love and Coffee
                </span>

            </div>
        </div>
    </footer>
    {% endblock %}