{% extends 'base.html' %}
{% block main %}

<body>
    <header class="w-full">

        <nav class="bg-white border-gray-200 py-2.5">

            <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">

                <div class="flex gap-3">
                    <a href="/school" class="flex items-center">
                        <img src="{{ url_for('static', filename='assets/logo.svg') }}" class="h-6 mr-3 sm:h-9"
                            alt="Poshan Logo" />
                        <span class="self-center text-xl font-semibold whitespace-nowrap">Poshan</span>
                    </a>

                    <img src="{{ url_for('static', filename='assets/g20.png') }}" class="h-6 sm:h-9" alt="G20 Logo" />

                    <img src="{{ url_for('static', filename='assets/poshan.png')}}" class="h-6 sm:h-9" alt="Gov Logo" />
                </div>

                <a href="/logout"
                    class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none">
                    Logout
                </a>
            </div>

        </nav>

    </header>

    <div class="w-full text-center my-auto">
        <h1 class="text-2xl font-bold mb-4">Mid-Day Meal Menu</h1>
        <form method="POST" action="/school/menu" class="mx-auto">
            <table class="table-auto border-collapse border border-blue-500 mx-auto my-8">
                <thead>
                    <tr class="bg-blue-100 text-blue-800">
                        <th class="py-2 px-4">Item</th>
                        <th class="py-2 px-4">Quantity (Servings)</th>
                        <th class="py-2 px-4">Calorie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Rice</td>
                        <td class="border py-2 px-4"><input type="number" name="rice" min="0" required id="rice-count"
                                class="food-count"></td>
                        <td class="border py-2 px-4" id="rice-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Dal</td>
                        <td class="border py-2 px-4"><input type="number" name="dal" min="0" required id="dal-count"
                                class="food-count"></td>
                        <td class="border py-2 px-4" id="dal-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Vegetable Curry</td>
                        <td class="border py-2 px-4"><input type="number" name="vegetable" min="0" required
                                id="veggie-count" class="food-count"></td>
                        <td class="border py-2 px-4" id="veggie-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Chapathi</td>
                        <td class="border py-2 px-4"><input type="number" name="chapathi" min="0" required
                                id="chapathi-count" class="food-count"></td>
                        <td class="border py-2 px-4" id="chapathi-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Fruit Pieces</td>
                        <td class="border py-2 px-4"><input type="number" name="fruit" min="0" required id="fruit-count"
                                class="food-count"></td>
                        <td class="border py-2 px-4" id="fruit-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-50">
                        <td class="border py-2 px-4">Boiled Egg</td>
                        <td class="border py-2 px-4"><input type="number" name="boiledegg" min="0" required
                                id="egg-count" class="food-count"></td>
                        <td class="border py-2 px-4" id="egg-calorie-count">0</td>
                    </tr>
                    <tr class="bg-white hover:bg-blue-200">
                        <td class="border py-2 px-4">Student Availed</td>
                        <td class="border py-2 px-4"><input type="number" name="students" min="0" required></td>
                        <td class="border py-2 px-4" id="calorie-count">0</td>
                    </tr>
                </tbody>
            </table>

            <button type="submit"
                class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none">
                Submit
            </button>

        </form>
    </div>

    <footer class="bg-white remove:bg-gray-800 pb-10">
        <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-5 md:p-8 lg:p-10">

            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8">
            <div class="text-center">

                <img src="{{ url_for('static', filename='assets/logo_row.png') }}" alt="All Logos" />

                <span class="block text-sm text-center text-gray-500">© 2023-2024 Poshan. All
                    Rights Reserved. Built with Love and Coffee
                </span>

            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function calculateCalories() {
                const riceCalories = 100; // assume 100 calories per serving of rice
                const dalCalories = 150; // assume 150 calories per serving of dal
                const veggieCalories = 50; // assume 50 calories per serving of vegetable curry
                const chapathiCalories = 120; // assume 120 calories per serving of chapathi
                const fruitCalories = 70; // assume 70 calories per serving of fruit
                const eggCalories = 80; // assume 80 calories per serving of boiled egg

                const riceCount = parseInt(document.getElementById('rice-count').value) || 0;
                const dalCount = parseInt(document.getElementById('dal-count').value) || 0;
                const veggieCount = parseInt(document.getElementById('veggie-count').value) || 0;
                const chapathiCount = parseInt(document.getElementById('chapathi-count').value) || 0;
                const fruitCount = parseInt(document.getElementById('fruit-count').value) || 0;
                const eggCount = parseInt(document.getElementById('egg-count').value) || 0;

                //console.log(riceCount, dalCount, veggieCount, chapathiCount, fruitCount, eggCount)

                const riceCalorieCount = riceCalories * riceCount;
                const dalCalorieCount = dalCalories * dalCount;
                const veggieCalorieCount = veggieCalories * veggieCount;
                const chapathiCalorieCount = chapathiCalories * chapathiCount;
                const fruitCalorieCount = fruitCalories * fruitCount;
                const eggCalorieCount = eggCalories * eggCount;


                const totalCalories = riceCalorieCount + dalCalorieCount + veggieCalorieCount
                    + chapathiCalorieCount + fruitCalorieCount + eggCalorieCount;


                document.getElementById('calorie-count').textContent = "Total - " + totalCalories;
                document.getElementById('rice-calorie-count').textContent = riceCalorieCount;
                document.getElementById('dal-calorie-count').textContent = dalCalorieCount;
                document.getElementById('veggie-calorie-count').textContent = veggieCalorieCount;
                document.getElementById('chapathi-calorie-count').textContent = chapathiCalorieCount;
                document.getElementById('fruit-calorie-count').textContent = fruitCalorieCount;
                document.getElementById('egg-calorie-count').textContent = eggCalorieCount;

            }

            // Call the function when any of the input counts change
            document.querySelectorAll('.food-count').forEach(element => {
                element.addEventListener('input', calculateCalories);
            });
        });

    </script>
</body>
{% endblock %}